<%- include("parts/html-head") %>
<%- include("parts/navbar") %>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <form method="post" enctype="application/x-www-form-urlencoded">
          <input type="text" name="account" placeholder="帳號">
          <span><%= typeof account==='undefined' ? '' : account %></span><br>
          <input type="password" name="password" placeholder="密碼">
          <span><%= locals.password ? password : '' %></span><br>
          <input type="submit">
        </form>
      </div>
    </div>
  </div>

<%- include("parts/scripts") %>
<%- include("parts/html-foot") %>