<%- include("../ago-parts/html-head") %>
<%- include("../ago-parts/navbar") %>
    <div class="container">
      <div class="row">
        <div class="pt-1">
          <h1>會員管理.<a href="manage-list-blacklist.php"><i class="bi bi-people-fill"></i>黑名單</a></h1>
      </div>

      <div class="col-12 d-flex justify-content-end">
                              <!-- 搜尋欄 -->
        <form class="d-flex" role="search">

          <input class="form-control me-2" type="search" name="keyword" placeholder="Search" aria-label="Search"
            value="<%= qs.keyword ? qs.keyword : '' %>">

          <button class="btn btn-outline-dark" type="submit">Search</button>

        </form>
                            <!-- 新增管理者 -->
      </div>
      <div class="col-12 d-flex justify-content-end">
        <div class="my-2">
            <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                新增管理者
            </button>
        </div>
    </div>

        
                              <!-- 黑名單篩選 -->
  <div class="col-6">
    <div class="form-check mx-2">
      
      <input class="form-check-input" type="checkbox" value="blacklist" name="blacklist" id="blacklistCheckbox">
    
    <label class="form-check-label" for="blacklistCheckbox">
      黑名單
    </label>
  </div>
</div>
                            <!-- 會員列表 -->
</div>
      <div class="row">
        <div class="col">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th><i class="fa-solid fa-pen-to-square"></i></th>
                <th>#</th>
                <th>姓名</th>
                <th>性別</th>
                <th>Email</th>
                <th>手機</th>
                <th>生日</th>
                <th>role</th>
                <th>帳號建立時間</th>
                <th><i class="fa-solid fa-trash"></i></th>
                
              </tr>
            </thead>
            <tbody>
              <% for(let r of rows){ %>
                <tr>
                  <td>
                    <a href="/address-book/edit/<%= r.id %>">
                      <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                  </td>
                  <td>
                    <%= r.id %>
                  </td>
                  <td>
                    <%= r.member_name %>
                  </td>
                  <td>
                    <%= r.gender %>
                  </td>
                  <td>
                    <%= r.email %>
                  </td>
                  <td>
                    <%= r.mobile %>
                  </td>
                  <td>
                    <%= r.birthday %>
                  </td>
                  <td>
                    <%= r.role %>
                  </td>
                  <td>
                    <%= r.create_date %>
                  </td>
                  <td>
                    <a href="/address-book/manage-blacklist/<%= r.id %>"><i class="fa-solid fa-ban"></i>
                    </a>
                  </td>
                  
                </tr>
                <% } %>
            </tbody>
          </table>

        </div>
      </div>
      <div class="col d-flex justify-content-center list-unstyled">
        <nav aria-label="Page navigation example">
          <ul class="pagination">

            <li class="page-item <%= page===1 ? 'disabled' : '' %>">
              <a class="page-link" href="?<%= new URLSearchParams({...qs, page: 1}) %>">
                <i class="fa-solid fa-circle-left"></i>
              </a>
            </li>

            <li class="page-item <%= page===1 ? 'disabled' : '' %>">
              <a class="page-link" href="?<%= new URLSearchParams({...qs, page: page-1}) %>">
                <i class="fa-regular fa-circle-left"></i>
              </a>
            </li>

            <% for(let i=page-5; i<=page+5; i++) if(i>=1 && i<=totalPages){ const paramsObj={...qs, page: i}; %>
                <li class="page-item <%= i===page ? 'active' : '' %>">
                  <a class="page-link" href="?<%= new URLSearchParams(paramsObj) %>">
                    <%= i %>
                  </a>
                </li>
                <% } %>

                  <li class="page-item <%= page===totalPages ? 'disabled' : '' %>">
                    <a class="page-link" href="?<%= new URLSearchParams({...qs, page: page+1}) %>">
                      <i class="fa-regular fa-circle-right"></i>
                    </a>
                  </li>

                  <li class="page-item <%= page===totalPages ? 'disabled' : '' %>">
                    <a class="page-link" href="?<%= new URLSearchParams({...qs, page: totalPages}) %>">
                      <i class="fa-solid fa-circle-right"></i>
                    </a>
                  </li>
          </ul>
        </nav>
      </div>
    </div>
    <%- include("../ago-parts/scripts") %>
    <script>

    </script>
    <%- include("../ago-parts/html-foot") %>