<%- include("./ago-parts/html-head") %>
<%- include("./ago-parts/navbar") %>
  <div class="container">
    <h1>
      <%= name %>
    </h1>
  </div>

<%- include("./ago-parts/scripts") %>
<%- include("./ago-parts/html-foot") %>