<%- include("../ago-parts/html-head") %>
<%- include("../ago-parts/navbar") %>
    <div class="container">
      <input type="text" value="<%= session.admin.id %>">
    </div>
    <%- include("../ago-parts/scripts") %>
    <script>

    </script>
    <%- include("../ago-parts/html-foot") %>